<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="warn" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
     <target xsi:type="AWSTarget" logGroup="msmq.integration.msmqtosqs" name="cw" region="sa-east-1"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="info" writeTo="cw" />
  </rules>
</nlog>
